#zawiw-chat-area {
	background-color: #F0F0F0;
	padding: 10px;
	position: relative;
	height:500px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #bbb;
}

#zawiw-search-filter {
	z-index: 5000;
	position: absolute;
	width: 25%;
	min-width: 150px;
	top: 15px;
	right: 15px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.4);
}


#zawiw-chat-view {
	position: relative;
	font-family: Lato, sans;
}
#zawiw-notification-placeholder {
    z-index: 5000;
    position: absolute;
    display: none;
    width: 100%;
   	top: 10px;
}
#zawiw-chat-notification {
	background-color: #333;
	color: #fff;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
   	position: relative;
    text-align: center;
    padding: 3px;
    border-radius: 8px;
    opacity: 0.9;
}

.chat_input {
	margin: 0;
	display: inline-block;
	float: left;
	width: 100%;
}

.submit_button {
	margin: 0;
	display: inline-block;
	width: 150px;
	position: absolute;
	float: left;
	top: 0px;
	right: 0px;
}

@media only screen and (max-width: 767px)
{
	.submit_button {
		display: block !important;
		width: 100% !important;
		position: relative !important;
		top: auto !important;
		right: auto !important;
	}
	#msg {
		padding-right: 16px !important;
	}
	#zawiw-search-filter {
		z-index: 5000;
		position: absolute;
		width: 100%;
		top: 0px;
		right: 0px;
		box-shadow: 1px 1px 1px rgba(0,0,0,.4);
	}
}

.submit_button input {
	width: 100%;
}

.zawiw-chat-datetime {
	color: #555;
	font-size: 75%;
}

.zawiw-chat-user {
	color: #555;
	font-size: 100%;
	font-weight: bold;
}

.zawiw-chat-avatar-user:hover span {
	color: #888;
}

.pdferror {
	font-size: 120%;
	font-weight: bold;
	background-color: #fff777;
	padding: 5px;
	padding-left: 16px;
}

.zawiw-chat-message {
	font-size: 130%;
	background-color: white;
	display: inline-block;
	padding: 5px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px rgba(50,50,50,.4);
}

.zawiw-chat-message a {
	text-decoration: none;
	color: inherit;
	font-style: italic;
}

.zawiw-chat-message span {
	display: inline;
}

.break {
	font-size: 5pt;
	line-height: 50%;
}

.avatar {
	margin-right: 5px;
	margin-bottom: 5px;
	box-shadow: 2px 2px 2px rgba(50,50,50,.4);
}
#zawiw_chat_download
{
	float: left;
}
#zawiw_chat_download > a
{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
a.fa:before
{
	padding-right: 5px;
}
#zawiw_chat_download_expandable
{
	display: block;
	overflow: hidden;
	max-height: 0px;
	transition: all 0.3s linear 0s;
	padding-left: 20px;
}

#wait
{
	transition: height 0.2s linear 0s;
	height: 0px;
	width: 0px;
}
#wait img
{
	height: 40px;
	width: 40px;
}

.warning
{
	background-color: #ffffaa;
}

#download {
	margin-top: 10px;
}

#send {
	height: 50px;
}

#emoji_button {
	width: 50px;
	height: 50px;
	text-align: center;
	position: absolute;
	line-height: 2;
	font-size: 170%;
	border: 1px solid #999;
	

}
.placeholder {
	position: relative;
}
#emoji_button:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(50,50,50,.4);
}
#msg {
	padding-left: 66px;
	padding-right: 166px;
}

#emojiList {
	position: absolute;
	top: 50%;
	height: 50%;
	border: 1px solid #999;
	background-color: white;
	width: 200px;
	z-index: 5000;
	padding: 20px;
	font-size: 130%;
	box-shadow: 1px 1px 2px rgba(50,50,50,.4);
}
#emojiList > div {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.quarter {
	width: 23%;
	margin: 1%;
	display: inline-block;
	line-height: 1.5;
}

#emojiList .quarter {
	text-align: center;
	cursor: pointer;
}
#emojiList .quarter:hover {
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
}

.msg_container {
	margin-bottom: 30px;
}

.msg_container b {
	background-color:yellow !important;
	font-weight: inherit;
}

.embed {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);

}
/*Christmas settings ;) */
.inlineEmoji {
	margin-right: 4px;
}

.zawiw-chat-message {
	background-color: #88FF77 !important;
	color: #111 !important; /* because it's christmas */
}
#emoji_button {
	background-color:#88FF77 !important;
	color: #111;
}
#emoji_button:before {

	position: absolute;
    content:"";
    width:100%;
    height:100%;
    background-size: contain;
	background: url('santa.png') !important;
	background-size: 30px 30px !important;
	background-repeat: no-repeat !important;
	background-position: 16px 0px !important;
	margin-left: -10px;
	
}
.inlineEmoji:before {
	position: absolute;
    content:"";
    width:60px;
    height:30px;
    background-size: contain;
	background: url('santa.png') !important;
	background-size: 20px 20px !important;
	background-repeat: no-repeat !important;
	background-position: 16px 0px !important;
	margin-left: -10px;
}
#emojiList {
	background-color: #88FF77 !important;
}
#emojiList .quarter:before {
	position: absolute;
    content:"";
    width:100%;
    height:30px;
    background-size: contain;
	background: url('santa.png') !important;
	background-size: 20px 20px !important;
	background-repeat: no-repeat !important;
	background-position: 16px 0px !important;
	margin-left: -10px;
}

/* end of christmas settings */