#zawiw-chat-area {
	background-color: #F0F0F0;
	padding: 10px;
	font-family: Lato, sans;
}

#zawiw-chat {
}

.chat_input {
	margin: 0;
	display: inline-block;
	float: left;
	width: 80%;
}

.submit_button {
	margin: 0;
	float: left;
	display: inline-block;
	width: 20%;
}

.submit_button input {
	width: 100%;
}

.zawiw-chat-datetime {
	color: #555;
	font-size: 75%;
}

.zawiw-chat-user {
	color: #555;
	font-size: 100%;
	font-weight: bold;
}

.zawiw-chat-avatar-user:hover span {
	color: #888;
}

.zawiw-chat-message {
	font-family: 'emoji';
	font-size: 130%;
	background-color: white;
	display: inline-block;
	padding: 5px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px rgba(50,50,50,.4);
}

.zawiw-chat-message span {
	display: inline;
}

.break {
	font-size: 5pt;
	line-height: 50%;
}

.avatar {
	margin-right: 5px;
	margin-bottom: 5px;
	box-shadow: 2px 2px 2px rgba(50,50,50,.4);
}
#zawiw_chat_download
{
	float: left;
}
#zawiw_chat_download a
{
	display: block;
	margin-top: 20px;
}
a.fa:before
{
	padding-right: 5px;
}
#zawiw_chat_download_expandable
{
	display: block;
	overflow: hidden;
	max-height: 0px;
	transition: all 0.3s linear 0s;
}

#send.disabled{
	background-color: #333;
}
